[submodule "PSReadline"]
	path = PSReadline
	url = https://github.com/perXautomatik/PowerShellCmdHist.git
[submodule "doneAndDeserted/Betesta/Esp-Header-Export"]
	path = doneAndDeserted/Betesta/Esp-Header-Export
	url = https://github.com/perXautomatik/Esp-Header-Export.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/perXautomatik/PowerShell-Scripts.git
[submodule "windowsAdmin"]
	path = windowsAdmin
	url = https://github.com/perXautomatik/PowerShell-Scripts.git

