[submodule "git/GeneralSourceCompare"]
	path = git/GeneralSourceCompare
	url = D:/Project Shelf/PowerShellProjectFolder/GeneralSourceCompare/Forks/0cc040af9e7d768f13c998cde8dc414d
[submodule "TodoProjects/Esp-Header-Export"]
	path = TodoProjects/Esp-Header-Export
	url = https://github.com/perXautomatik/Esp-Header-Export.git
[submodule "Fork"]
	path = Fork
	url = https://github.com/perXautomatik/fujitsu-xmlcsv
[submodule "Processes/regestry"]
	path = Processes/regestry
	url = https://gist.github.com/afba721727466476d3caefa5739a0767
[submodule "Processes/pipeline"]
	path = Processes/pipeline
	url = https://gist.github.com/3a93145c3526005f132cd563590f9ad3
[submodule "pshell"]
	path = pshell
	url = https://github.com/perXautomatik/PowerShell.git
[submodule "filesystem/createToutchedFile"]
	path = filesystem/createToutchedFile
	url = https://github.com/perXautomatik/Powershell-CreateTouchedFile.git
[submodule "filesystem/groupIntoFolders"]
	path = filesystem/groupIntoFolders
	url = https://github.com/perXautomatik/powershell-GroupIntoFolder.git
[submodule "WindowsAdmin/forked-sysadmin"]
	path = WindowsAdmin/forked-sysadmin
	url = https://github.com/perXautomatik/PowerShell.git
[submodule "fork/xml2Csv"]
	path = fork/xml2Csv
	url = https://gist.github.com/3c9712ba4663e49cbe3961eb67791ea0
[submodule "fork/ExportChromeBook"]
	path = fork/ExportChromeBook
	url = https://gist.github.com/6500cf6848cd9696aaeba7301fddaedd
[submodule "fork/ExportChromeExtensions"]
	path = fork/ExportChromeExtensions
	url = https://gist.github.com/cbb03be4c9b62f7cace045b15c64d5bf
[submodule "fork/DiagramPswriteHtml"]
	path = fork/DiagramPswriteHtml
	url = https://gist.github.com/6ae3dfe72f4c71d7af3af66b7e90e50c
[submodule "WindowsAdmin/GetInstalled"]
	path = WindowsAdmin/GetInstalled
	url = https://gist.github.com/a524bd4ce9f2b041cba5d499ba76142c
[submodule "TextTransformation/CompareHashTable"]
	path = TextTransformation/CompareHashTable
	url = https://gist.github.com/87cb8a550b43ec90e4a89d2e69324806
