[submodule "PowerShellCmdHist"]
	path = PSReadline
	url = https://github.com/perXautomatik/PowerShellCmdHist.git
[submodule "Scripts"]
	path = Scripts
	url = https://github.com/perXautomatik/PowerShell-Scripts.git
