[submodule "Esp-Header-Export"]
	path = Esp-Header-Export
	url = https://github.com/perXautomatik/Esp-Header-Export.git
[submodule "powershellAliasesUserProfile"]
	path = powershellAliasesUserProfile
	url = https://gist.github.com/54cd776f5077b53aa0d4ba2bee360108
[submodule "TakeOwnerShip"]
	path = TakeOwnerShip
	url = https://gist.github.com/ce36fd285e8cf8eb00cf3b17e0e8d79d


